* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 1rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: #007bff;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px;
  }

  nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }

  nav a.active {
    font-weight: bold;
  }

  @media (max-width: 768px) {
    nav {
      position: fixed;
      bottom: 0;
      top: auto;
      width: 100%;
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    }
    .home-button {
      position: relative;
      top: -2rem;
    }
  }

  .home-content {
    display: flex;
    background-image: url('https://img.freepik.com/premium-photo/abstract-blur-library-blurred-book-shelves-hall-generative-ai_791316-6098.jpg?semt=ais_hybrid');
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: white;
    z-index: 1;
  }

  .home-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    color: white;
  }

  .home-content p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
  }

  .home-button {
    background-color: #007bff;
    color: #fff; 
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    margin-top: 3rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .home-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  .home-button:active {
    background-color: #004085;
    transform: translateY(2px);
  }

  .home-button:focus {
    outline: none;
  }
  a{
      text-decoration: none;
  }
  #arrow{
      margin: 10px;
  
  }
